DB_HOST='db'
DB_PORT=3306
DB_NAME='db'
DB_USER='db'
DB_PASS='db'
DB_DRIVER='pdo_mysql'
DB_DEV_MODE=false

WEB_NAME='Ares'
WEB_FRONTEND_LINK='https://frontend.org'
WEB_TOKEN_DURATION=3600

#OpenSSL RSA 512 bit
WEB_SECRET_PRIVATE='app/Keys/private.pem'
WEB_SECRET_PUBLIC='app/Keys/public.pem'
