/vendor/
/.idea
/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
/nbproject/
/build/
/cache/
/.env
.DS_Store
.env
/.scannerwork/
/.phpunit.result.cache
/app/Logs
/app/Cache
/app/Keys/private.pem
/app/Keys/public.pem
