/vendor/
/.idea
/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
/nbproject/
/build/
/cache/
.DS_Store
/.scannerwork/
/.phpunit.result.cache
/tmp/Logs
/tmp/Cache/doctrine
/tmp/Cache/proxies
/app/Keys/private.pem
/app/Keys/public.pem
/tmp/Logs/
/tmp/Cache/routing/route.cache.php
/.env

