/vendor/
/.idea
/logs/*
!/logs/README.md
/coverage/
*.php_cs.cache
/nbproject/
/build/
/cache/
/app/Config/environment.php
.DS_Store
app/Config/environment.php
/.scannerwork/
/.phpunit.result.cache
/app/Logs
/app/Cache
/app/Keys/private.pem
/app/Keys/public.pem
/app/Logs/
/.env
