{% block body %}
  <div class="ui fixed inverted menu" style="height: 50px">
    <div class="ui container">
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui main text container">
    <div class="ui icon message">
      <div class="content">
        <p>Welkom {{ user.username }}, wil je <a href="/auth/logout">uitloggen</a>?</p>
      </div>
  </div>
</div>
{% endblock %}