<h1>Inloggen</h1>
<form method="post" action="/auth/sign-in">
  <input type="text" name="username" placeholder="Username.." />
  <input type="password" name="password" placeholder="Password.." />
  <input type="submit" name="submit" />
</form>

<h1>Registeren</h1>
<form method="post" action="/auth/account-registration">
  <input type="text" name="username" placeholder="Username.." />
  <input type="password" name="password" placeholder="Password.." />
  <input type="password" name="password_confirmation" placeholder="Password Confirmation.." />
  <input type="text" name="email" placeholder="Mail.." />

  <button type="submit">Submit</button>
</form>